{% extends 'base.html' %}

{% block content %}
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'home' %}" class="btn btn-secondary">Login</a>
    </form>
    {# If user arrived at the login page via a protected view, include a link to go back to that view #}
    {% if request.GET.next %}
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a>.</p>
        <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a>.</p>
    {% else %}
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a>.</p>
    {% endif %}
{% endblock %}
