{% extends 'main/../base.html' %}
{% load static %}

{% block title %}Expense Tracker - Add Expense{% endblock %}

{% block content %}
    <h2>Add Expense</h2>
    <form method="post" action="{% url 'add_expense' %}" class="mb-4">
        {% csrf_token %}


        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="1">Food</option>
            <option value="2">Utilities</option>
            <option value="2">Housing</option>
            <option value="2">Transportation</option>
            <option value="2">Insurance</option>
            <option value="2">Medical & Healthcare </option>
            <option value="2">Saving, Investing, & Debt Payments</option>
            <option value="2">Personal Spending</option>

        </select><br><br>

        <label for="amount">Amount:</label>
        <input type="text" name="amount" id="amount" required><br><br>

        <label for="description">Description:</label>
        <textarea name="description" id="description" rows="1" required></textarea><br><br>

        <label for="date">Date:</label>
        <input type="date" name="date" id="date" required><br><br>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
