{% extends 'base.html' %}
{% load static %}

{% block title %}Expense Tracker - Add Expense{% endblock %}

{% block content %}
    <h2>Add Expense</h2>
    <form method="post" action="{% url 'add_expense' %}" class="mb-4">
        {% csrf_token %}


        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="1">Groceries</option>
            <option value="2">Utilities</option>

        </select>

        <label for="amount">Amount:</label>
        <input type="text" name="amount" id="amount" required>

        <label for="description">Description:</label>
        <textarea name="description" id="description" rows="3" required></textarea>

        <label for="date">Date:</label>
        <input type="date" name="date" id="date" required>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
